src/test_cash
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.cash

# Compilation and Qt preprocessor part
*.qm
Makefile
Cash-Qt.app

# Unit-tests
Makefile.test
cash-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
